section.site-list {
  margin: 40px;

  h1 {
    margin-bottom: 16px;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 8px;
    display: block;
    font-weight: bold;
  }

  .ERRO {
    color: red;
  }

  .ok {
    color: green;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;

    td {
      // Descomentar essa linha caso deseje que os itens que não estão com a versão correta do thema seja sinalizado
      //color: red;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
    }

    td + td,
    th {
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }

    tr:hover {
      background-color: #828282;
      color: #dddddd;

      a {
        color: #dddddd;
      }

      .ok {
        color: #5dff5e;
      }
    }

    .children {
      font-weight: 400;
    }
  }
}
